
<div id="home-page-intro">
  <h1 class="text-center">Welcome to <span class="keyword" id="logo">TriviaHub</span></h1>
  <h3><i><h3 class='q-and-a'>Q:</h3> What brings you here today?</i></h3>
  <h3 id="home-answer-intro"><i><h3 class='q-and-a'>A:</h3> I'm here to...</i></h3>
  <div id=app></div>
</div>

 <br/>
 <hr/>
 <div id="leaderboard" class="text-center">

   <h3>Classic Mode: All-Time Leaders</h3>

   <table id="leaderboard-table" class="text-left">
     <tbody>
       <% @top_five_users.each do |user| %>
         <tr>
           <td><%= "#{user.first_name} #{user.last_name[0]}." %></td>
           <td><%= number_to_currency(user.lifetime_earnings, precision: 0) %></td>
         </tr>
       <% end %>
     </tbody>
   </table>
 </div>
