<div class="text-center">
  <h1>Welcome to <span class="keyword" id="logo">TriviaHub</span></h1>
  <h4>Create your own trivia game, browse user games, and try out real <b><i>Jeopardy!</i></b> questions.</h4>
  <br/>
  <a href="/auth/google" class="button button-large">Sign in with Google</a>
  <br/><br/>
  <hr/>
  <br/>
  <h4><b>Guest Credentials<b></h4>
  <h5>TriviaHubGuest@gmail.com (password: triviahub)</h5>
  <h5>TriviaHubGuest2@gmail.com (password: triviahub2)</h5>
  <h5>TriviaHubGuest3@gmail.com (password: triviahub3)</h5>
  <br/>
  <h5><i>Note: TriviaHub works best in Chrome, Safari, and Firefox browsers</i></h5>
</div>
