<div class="text-center">
  <h1>Welcome to <span class="keyword" id="logo">TriviaHub</span></h1>
  <h4>Create your own trivia game, browse user games, and try out real <b><i>Jeopardy!</i></b> questions.</h4>
  <br/>
  <a href="/auth/google" class="button button-large">Sign in with Google</a>
  <br/><br/>
  <hr/>
  <br/>
  <h4><b>Guest Credentials<b></h4>
  <h5>TriviaHubGuest@gmail.com (password: triviahub)</h5>
  <h5>TriviaHubGuest2@gmail.com (password: triviahub2)</h5>
  <h5>TriviaHubGuest3@gmail.com (password: triviahub3)</h5>
  <br/>

<div class="notes">
  <p><b>Notes from the admin:</b></p>
    <ul>
      <li>
        TriviaHub works best in Chrome, Safari, and Firefox browsers
      </li>
      <li>
        Anonymous browsing with Google sign-in has proven challenging! Upon logging in with a guest account, you may be prompted to enter the recovery email account, <b>cbrennan31@gmail.com</b>.
      </li>
    </ul>
  <p>Thanks for checking out my site!</p>
  <p>Casey Brennan</p>
</div>
