$dark-blue: #4d82cb;

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: lighten(#b6e3ff, 7%);
  font-family: 'Bitter', serif;
  height: 100%;
  overflow: scroll;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h4, h5, h6 {
  font-family: 'Bitter', serif;
}

.layout-padding {
  padding: 0px 10px 10px 10px;
}

.top-panel {
  background-color: #4d82cb;
  color: white;
  padding: 0px 10px 0px 10px;
  border-bottom: 1px solid darken(#4d82cb, 20%);
}

.button-small {
  border-width: 2px;
  border-radius: 3px;
  background-color: $dark-blue;
  padding: 10px;
  font-size: 20px;
}

.button-large {
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  padding: 20px;
  font-size: 20px;
  background-color: $dark-blue;
}

hr {
  margin: 0px 5px;
}

.category-title, .home-button {
  background-color: #4d82cb;
  border-color: darken(#4d82cb, 20%);
  box-shadow: 0 0 2px darken(#4d82cb, 20%);
  color: white;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  font-size: 36px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: #4d82cb;
  overflow: hidden;

}

.navbar a {
  float: left;
  display: inline;
  color: lighten(#8eacbb, 34%);
  text-align: center;
  padding: 10px 14px;
  font-size: 17px;
}

.navbar a:hover {
  background-color: lighten(#8eacbb, 34%);
  color: #4d82cb;
  font-size: 17px;
}

.navbar #home-link {
  font-weight: bold;
}

.navbar .icon {
    display: none;
}

.navbar .right-nav {
  float: right;

}

@media screen and (max-width: 640px) {
  .navbar a.icon {
    float: right;
    display: inline;
  }
  .navbar a:not(.small-screen) {
    display: none;
  }
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .right-nav {
    float: none;
  }
}
