#logo {
  color: #173CA3;
  font-weight: 900;
}

.keyword {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 2px;
}

h1 .keyword {
  font-family: 'Bitter', serif;
  font-weight: 900;
}

#leaderboard {
  margin-top: 10px;
}

#leaderboard-table {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

#home-page-intro h3 {
  text-align: center;
  font-weight: 700;
}

#home-page-intro::before {
  background-image: image_url('jeopardy1996podium.png');
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: -1;
  background-position: center top;
  background-size: 80%;
  background-repeat: no-repeat;
}

#home-page-intro {
  position: relative;
  z-index: 0;
}

h3 .q-and-a {
  color: #4d82cb;
  display: inline
}

.home-button {
  margin: 2px;
  padding: 0px 6px 0px 6px;
  height: 130px;
  display: table;
  position: relative;
  width: 100%;
}

.home-button-header {
  margin: 0px;
}

.link-panel {
  position:absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.home-button-text {
  display: table-cell;
  vertical-align: middle;
  font-style: italic;
}

.home-button-desc {
  display: table-cell;
  vertical-align: middle;
  font-style: italic;
}

.row.home-links {
  margin-left: auto;
  margin-right: auto;
  opacity: .73
}

.category-title:hover, .home-button:hover {
  background-color: lighten(#4d82cb, 10%);
  border-color: #4d82cb;
  color: white;
}

.home-button-1-appear, .home-button-2-appear, .home-button-3-appear {
  opacity: 0;
}

.home-button-1-appear.home-button-1-appear-active {
    opacity: 1;
    -webkit-transition: opacity .8s ease;
    -webkit-transition-delay: .3s;
}

.home-button-2-appear.home-button-2-appear-active {
    opacity: 1;
    -webkit-transition: opacity .8s ease;
    -webkit-transition-delay: 1.1s;
}

.home-button-3-appear.home-button-3-appear-active {
    opacity: 1;
    -webkit-transition: opacity .8s ease;
    -webkit-transition-delay: 1.9s;
}

@media screen and (max-width: 640px) {
  .home-button {
    display: block;
    text-align: center;
    height: 38px;
  }

  .home-button-text {
    display: inline;
  }

  h4.home-button-desc {
    font-size: 13px;
    font-family: Bitter, serif;
    padding: 0px;
    font-style: normal;
    display: block;
    margin: 0px;
  }

  .category-title {
    font-size: 20px;
  }

  .clue, .button-large {
    font-size: 14px;
  }

  .button-large {
    height: 30px;
    padding: 6px 10px 6px 10px;
  }

  .button-small {
    font-size: 14px;
    height: 30px;
    padding: 6px 10px 6px 10px;
  }

  #home-page-intro::before {
    background-image: none;

  }

  .row.home-links {
    opacity: 1;
  }
}
