body {
  background-color: #e1f5fe;
  text-align: center;
  font-family: 'Avenir-Black', sans-serif;
}

.button {
  font-family: 'Charter', serif;
  font-weight: bold;
}

.category-title, .clue, .score-and-question-container {
  max-width: 750px !important;
  min-width: 400px !important;
  margin: 10px 10px 10px auto !important;
}

hr {
  margin: 0px 5px;
}

.score {
  background-color: #173CA3;
  color: white;
  font-size: 20px;
  font-family: 'Charter', serif;
  font-weight: bold;
  padding: 0px;
  width: 195px;
  border-radius: 3px
}

.question {
  background-color: #173CA3;
  color: white;
  font-size: 20px;
  font-family: 'Charter', serif;
  font-weight: bold;
  padding: 0px;
  width: 195px;
  border-radius: 3px
}

.category-title {
  background-color: #a7ffeb;
  border-color: #00897b;
  color: #00897b;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
  font-size: 42px;
  text-transform: capitalize;
}

.clue {
  color: white;
  background-color: #173CA3;
  font-size: 28px;
  padding: 10px;
  font-weight: bold;
  box-shadow: 10px 10px 5px #00838f;
  border-radius: 10px;
  font-family: "Charter", serif;
}


.answer-input {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}

.scoreboard-container {
  margin: 10px auto 5px 10px;
  border-style: solid;
  border-color: #00897b;
  border-width: 1px;
  min-width: 60px;
  max-width: 125px;
}

.game-container {
  margin: 0px auto;
}

.scoreboard-attempted, .scoreboard-current, .scoreboard-upcoming, .scoreboard-attempted-current{
  font-size: 16px;
  padding: 5px;
  margin: 0px;
}

.no-margin {
  margin: 0px
}

.scoreboard-attempted-current {
  background-color: #173CA3;
  text-decoration: line-through;
  color: white;
  box-shadow: 0 0 8px #173CA3;
}

.scoreboard-attempted {
  background-color: #a7ffeb;
  text-decoration: line-through;
  color: #00897b;
}

.scoreboard-current {
  background-color: #173CA3;
  color: white;
  box-shadow: 0 0 8px #173CA3;
}

.scoreboard-upcoming {
  background-color: #a7ffeb;
  color: #00897b;
}
