@import url('https://fonts.googleapis.com/css?family=Open+Sans|Bitter:400');
$dark-blue: #4d82cb;

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: lighten(#b6e3ff, 7%);
  font-family: 'Bitter', serif;
  height: 100%;
  overflow: scroll;
}

h4, h5, h6 {
  font-family: 'Bitter', serif;
}

.stats-header {
  font-weight: 700;
  font-size: 1.1em;
}

.layout-padding {
  padding: 0px 10px 10px 10px;
}

#logo {
  color: #173CA3;
  font-weight: 900;
}

.keyword {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 2px;
}

h1 .keyword {
  font-family: 'Bitter', serif;
  font-weight: 900;
}

.earnings-table {
  margin-bottom: 0px;
}

#earnings-top {
  border-bottom: 1px solid white;
}

.loading::after {
  content: "";
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Question_mark.svg/1200px-Question_mark.svg.png");
  opacity: 0.03;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  -webkit-animation: spinX 3s infinite;
  animation: spinX 3s infinite;
}

@-webkit-keyframes spinX
{
0%   {-webkit-transform: rotateX(0deg); -webkit-transform-origin: 0% 50% 0;}
100% {-webkit-transform: rotateX(360deg); -webkit-transform-origin: 0% 50% 0;}
}
@keyframes spinX
{
0%   {transform: rotateX(0deg); transform-origin: 0% 50% 0;}
100% {transform: rotateX(360deg); transform-origin: 0% 50% 0;}
}

h3, h1, h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

#current-value {
  font-size: 34px;
  margin-top: auto;
  margin-bottom: auto;
}

.circle, .circle-selected {
  border: 2px solid red;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0 0 8px red;
  display: inline-block;
  margin: 7px 2px 0px 2px;
}

.circle {
  background-color: #173CA3;
}

.circle-selected {
  background-color:red;
}
.user-game .new-question-title {
  padding-left: 0
}

#delete-div {
  padding-right: 0
}

.top-panel {
  background-color: #4d82cb;
  color: white;
  padding: 0px 10px 0px 10px;
  border-bottom: 1px solid darken(#4d82cb, 20%);
}

.user-game {
  padding-left: 20px;
}

.my-label {
  font-size: 20px;
}

.update-form {
  box-shadow: 0 0 20px #173CA3;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: $dark-blue;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 745px;
}

.clue-form .my-label {
  font-size: 18px;
  color: black;
}

.clue-form .new-question-title {
  padding-left: 0px;
}

.value {
  padding-left: 0px;
}

.category {
  padding-right: 0px;
}

.row .value-category {
  max-width: 700px;
  margin-left: 0px;
  margin-right: 0px;
}

.value-select {
  min-width: 70px;
  color: #black;
}

.input {
  max-width: 715px;
  font-size: 16px;
}

.textarea {
  height: 70px;
  max-width: 715px;
  font-size: 16px;
}

.radio-item {
  display: inline
}

.button-small {
  border-width: 2px;
  border-radius: 3px;
  background-color: $dark-blue;
  padding: 10px;
  font-size: 20px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.button-large {
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  padding: 20px;
  font-size: 20px;
  background-color: $dark-blue;
}

.add-new-question, .clue-form {
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  background-color: lighten(#b6e3ff, 7%);
  border-color: darken( $dark-blue, 10% );
  color: darken( $dark-blue, 10% );
  padding: 10px;
  max-width: 715px;
  margin-top: 15px;
  text-align: left;
  box-shadow: 0 0 3px darken( $dark-blue, 10% );
}

.add-new-question:hover{
  background-color: darken(#b6e3ff, 13%);

}

.alert {
  margin-bottom: 5px;
}

.add-new-question h4 {
  text-align: left;
  margin-bottom: 0px;
  cursor: pointer;
}

.row .category-title, .row .clue, .row .score-and-question-container {
  max-width: 750px;
  min-width: 400px;
  margin: 10px 10px 10px auto;
}

hr {
  margin: 0px 5px;
}

.score {
  background-color: #173CA3;
  color: white;
  font-size: 20px;
  font-family: 'Bitter', serif;
  font-weight: bold;
  padding: 0px;
  height: 60px;
  width: 195px;
  border-radius: 3px
}

.question {
  background-color: #173CA3;
  color: white;
  font-size: 20px;
  font-family: 'Bitter', serif;
  font-weight: bold;
  padding: 0px;
  height: 60px;
  width: 195px;
  line-height: 60px;
  border-radius: 3px
}

.category-title, .home-button {
  background-color: #4d82cb;
  border-color: darken(#4d82cb, 20%);
  box-shadow: 0 0 2px darken(#4d82cb, 20%);
  color: white;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  font-size: 36px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.category-title {
  text-transform: uppercase;
  font-weight: 400;
}

#guidelines-header {
  cursor: pointer;
}

#guidelines-header:hover {
  color: #4d82cb;
}

#leaderboard {
  margin-top: 10px;
}

#leaderboard-table {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

#home-page-intro h3 {
  text-align: center;
  font-weight: 700;
}

h3 .q-and-a {
  color: #4d82cb;
  display: inline
}

.home-button {
  margin: 2px;
  // height: 100%;
  padding: 0px 6px 0px 6px;
  height: 130px;
  display: table;
  position: relative;
  width: 100%;
}

.home-button-header {
  margin: 0px;
}

.link-panel {
  position:absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.home-button-text {
  display: table-cell;
  vertical-align: middle;
  font-style: italic;
}

.home-button-desc {
  display: table-cell;
  vertical-align: middle;
  font-style: italic;
}

.row .home-links {
  margin-left: auto;
  margin-right: auto;
}

.category-title:hover, .home-button:hover {
  background-color: lighten(#4d82cb, 10%);
  border-color: #4d82cb;
  color: white;
}

.clue {
  color: white;
  background-color: #173CA3;
  font-size: 22px;
  padding: 10px;
  font-weight: bold;
  box-shadow: 10px 10px 5px #00838f;
  border-radius: 3px;
  font-family: "Bitter", serif;
}


.answer-input {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}

.scoreboard-container {
  margin: 10px auto 5px 10px;
  border-style: solid;
  border-color: lighten(#8eacbb, 34%);
  border-radius: 2px;
  box-shadow: 0 0 3px #34515e;
  min-width: 60px;
  max-width: 125px;
}

.answer-submit {
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  padding: 20px;
  font-size: 24px;
  background-color: lighten(#4d82cb, 10%)
}

.game-container {
  margin: 0px auto;
  text-align: center;
}

.scoreboard-correct, .scoreboard-current, .scoreboard-upcoming, .scoreboard-incorrect{
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  margin: 0px;
}

.no-margin {
  margin: 0px
}

.navbar {
  background-color: #4d82cb;
  overflow: hidden;

}

.navbar a {
  float: left;
  display: inline;
  color: lighten(#8eacbb, 34%);
  text-align: center;
  padding: 10px 14px;
  font-size: 17px;
}

.navbar a:hover {
  background-color: lighten(#8eacbb, 34%);
  color: #4d82cb;
  font-size: 17px;
}

.navbar #home-link {
  font-weight: bold;
}

.navbar .icon {
    display: none;
}

.navbar .right-nav {
  float: right;

}

@media screen and (max-width: 640px) {
  .navbar a.icon {
    float: right;
    display: inline;
  }
  .navbar a:not(.small-screen) {
    display: none;
  }
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .right-nav {
    float: none;
  }
  .home-button {
    display: block;
    text-align: center;
    height: 38px;
  }

  .home-button-text {
    display: inline;
  }

  h4.home-button-desc {
    font-size: 13px;
    font-family: Bitter, serif;
    padding: 0px;
    font-style: normal;
    display: block;
    margin: 0px;
  }
}

.scoreboard-current {
  background-color: #173CA3;
  color: lighten(#8eacbb, 34%);
  box-shadow: 0 0 10px #90a4ae;
}

.ReactModal__Content, .ReactModal__Content--after-open {
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 400px;
  height: 150px;
  margin: auto;
  display: table;
}

.clueadd-enter {
  height: 0px;
  overflow: hidden;
}

.clueadd-enter.clueadd-enter-active {
    height: 365px;
    -webkit-transition: height .5s ease;
}

.modal-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.08em;
}

.modal-button {
  display: inline-block;
  margin: 0px 15px;
}

.scoreboard-correct {
  background-color: lighten(#8eacbb, 34%);
  color: #003300;
}

.scoreboard-incorrect {
  background-color: lighten(#8eacbb, 34%);
  color: #7f0000;
}

.scoreboard-upcoming {
  background-color: lighten(#8eacbb, 34%);
  color: #90a4ae;
}
